.root {
  text-align: center;

  p {
    max-width: 16em;
  }
}

.head {
  margin-top: 1.4em;
  margin-bottom: 1.8em;

  img {
    background-color: var(--color-beige);
    border-radius: 1000px;
    box-shadow: #0002 0 1px 5px;
  }
}

.list {
  display: block;
  max-width: 20em;
  margin-left: auto;
  margin-right: auto;
  line-height: 1em;

  :global(li) {
    display: inline-block;
    background-color: var(--color-tan-dark);
    border-radius: 4px;
    padding: 0.3em 0.6em;
    font-size: 0.75em;
    margin: 4px;
  }
}
