.root {
  display: flex;
  padding-top: calc(var(--padding-responsive) * 4);
  padding-bottom: calc(var(--padding-responsive) * 5);
  min-height: 100vh;
}

.container {
  width: 100%;
  text-align: center;
}
