{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "Components": "./components",
          "Content": "./content",
          "Context": "./context",
          "Pages": "./pages",
          "Static": "./static",
          "Styles": "./styles"
        }
      }
    ]
  ]
}
