{
  "presets": [
    "next/babel",
    {
      "styled-jsx": {
        "plugins": [
          "styled-jsx-plugin-postcss"
        ]
      }
    }
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "Components": "./components",
          "Tags": "./tags",
          "Lib": "./lib",
          "Pages": "./pages",
          "Static": "./static"
        }
      }
    ]
  ]
}
