@import "../../lib/styles/variables/breakpoints.css";

.root {
  display: flex;
  flex-flow: row wrap;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.name,
.email {
  flex: 1 100%;

  @media (--medium) {
    flex: 1 50%;
  }
}

.name {
  @media (--medium) {
    padding-right: 0.5em;
  }
}

.email {
  margin-top: 1em;

  @media (--medium) {
    margin-top: 0;
    padding-left: 0.5em;
  }
}

.feedback {
  display: block;
  padding: 0.25em;
  margin-bottom: 1em;
  width: 100%;
  font-size: 0.8em;
  border-radius: 4px;
}

.success {
  background-color: var(--color-green);
  color: var(--color-white);
}

.error {
  background-color: var(--color-red);
  color: var(--color-white);
}

.message {
  flex: 1 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.button {
  width: 100%;
  text-align: center;
}
