@import "../../styles/variables/breakpoints.css";

.root {
  border: 2px solid var(--color-teal);
  border-radius: 3px;
  background-color: transparent;
  color: var(--color-teal) !important;
  display: inline-block;
  font-family: 'museo-sans-rounded', 'Arial Rounded MT Bold', Helvetica;
  font-size: 1.6rem;
  line-height: 1.75em;
  text-align: center;
  text-decoration: none;
  padding: 0em 1em;
  cursor: pointer;
  min-width: 180px;

  &:hover,
  &:focus {
    background-color: var(--color-teal);
    color: var(--color-white) !important;
  }

  &:focus {
    box-shadow: none;
    outline: solid var(--color-teal) 2px;
    outline-offset: 2px;
  }

  @media (--medium) {
    border-width: 3px;
  }
}

.filled {
  background-color: var(--color-teal);
  color: var(--color-white) !important;

  &:hover,
  &:focus {
    background-color: var(--color-teal-dark);
    border-color: var(--color-teal-dark);
  }
}

.spinner {
  position: relative;
  top: 3px;
}
