.ProjectGallery {
  margin-top: 4rem;

  & > * + * {
    margin-top: 2rem;
  }

  &__image {
    overflow: hidden;
    border-radius: 4px;

    & > *:last-child {
      filter: blur(20px);
    }
  }

  &__label {
    font-size: 1rem;
  }

  @media (--medium) {
    & > * + * {
      margin-top: 4rem;
    }
  }
}
