@import "../../lib/styles/variables/*.css";

.root {
  margin-top: 4rem;

  & > * + * {
    margin-top: 2rem;

    @media (--medium) {
      margin-top: 4rem;
    }
  }
}

.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

.image {
  position: relative;
  background-color: var(--color-dark);
  overflow: hidden;
  border-radius: 4px;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.label {
  font-size: 1rem;
}
