@import "../../styles/variables/breakpoints.css";

.root {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
  max-width: 1180px;
  margin: auto;

  @media (--small) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--medium) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (--medium-large) {
    grid-gap: 2rem;
  }
}
