.GlobalHeader {
  font-size: 1rem;
  padding-top: 2em;
  z-index: 100;
  background-color: var(--color-tan-transparent);

  @media (--small) {
    position: sticky;
    top: 0;
    padding-top: 0;

    &::after {
      /* content: '\0020';
      position: absolute; */
      bottom: 0;
      left: 0;
      right: 0;
      height: 4px;
      background-color: var(--color-offtan);
    }
  }

  &--dark {
    background-color: #000;

    &::after {
      display: none;
    }
  }

  &__wrapper {
    position: relative;
    z-index: 2;

    @media (--small) {
      display: flex;
      width: 100%;
    }
  }

  &__logo {
    text-align: center;

    @media (--small) {
      margin-left: calc(var(--padding) * -1);
    }

    &-link {
      display: inline-block;
      color: var(--color-black);
      text-decoration: none;
      padding: calc(var(--padding) * 0.55) var(--padding) calc(var(--padding) * 0.45);
    }
  }

  &__nav {
    flex-grow: 1;
    text-align: center;

    &-list {
      margin-left: calc(var(--padding) * -0.5);

      & > li {
        display: inline-block;
      }
    }

    @media (--small) {
      text-align: right;

      &-list {
        margin-left: auto;
        margin-right: calc(var(--padding) * -0.5);
      }
    }

    &-link {
      display: inline-block;
      padding: calc(var(--padding) * 0.5) var(--padding);
      text-decoration: none;
      font-weight: 500;
      border-bottom: transparent solid 4px;

      &--portfolio {
        color: var(--color-portfolio) !important;

        &:hover {
          border-bottom-color: var(--color-portfolio);
        }
      }

      &--contact {
        color: var(--color-contact) !important;

        &:hover {
          border-bottom-color: var(--color-contact);
        }
      }
    }
  }
}
