@import "../../styles/variables/breakpoints.css";

.root {
  font-size: 1rem;
  padding-top: 2em;
  z-index: 100;
  background-color: var(--color-tan-transparent);

  @media (--small) {
    position: sticky;
    top: 0;
    padding-top: 0;
  }
}

.dark {
  background-color: var(--color-black-transparent);
}

.error {
  background-color: transparent;
}

.error,
.dark {
  .logoLink {
    &:hover,
    &:active {
      border-bottom-color: var(--color-tan);
    }
  }
}

.wrapper {
  position: relative;
  z-index: 2;

  @media (--small) {
    display: flex;
    width: 100%;
  }
}

.logo {
  text-align: center;

  @media (--small) {
    margin-left: calc(var(--padding) * -1);
  }
}

.navLink,
.logoLink {
  display: inline-block;
  padding: calc(var(--padding) * 0.1) var(--padding) calc(var(--padding) * 0);

  @media (--small) {
    padding: calc(var(--padding) * 0.2) var(--padding) calc(var(--padding) * 0.1);
  }

  @media (--medium) {
    padding: calc(var(--padding) * 0.35) var(--padding) calc(var(--padding) * 0.25);
  }

  @media (--large) {
    padding: calc(var(--padding) * 0.5) var(--padding) calc(var(--padding) * 0.4);
  }
}

.logoLink {
  color: var(--color-black);
  text-decoration: none;
  padding: calc(var(--padding) * 0.5) var(--padding) calc(var(--padding) * 0.3);

  @media (--small) {
    border-bottom: transparent solid 4px;
  }

  &:hover,
  &:active {
    border-bottom-color: var(--color-black);
  }
}

.nav {
  flex-grow: 1;
  text-align: center;

  @media (--small) {
    text-align: right;
  }
}

.navList {
  margin-left: calc(var(--padding) * -0.5);

  & > :global(li) {
    display: inline-block;
  }

  @media (--small) {
    margin-left: auto;
    margin-right: calc(var(--padding) * -1);
  }
}

.navLink {
  text-decoration: none;
  font-weight: 500;
  border-bottom: transparent solid 4px;
}

.navLink__portfolio {
  color: var(--color-portfolio) !important;

  &:hover {
    border-bottom-color: var(--color-portfolio);
  }
}

.navLink__contact {
  color: var(--color-contact) !important;

  &:hover {
    border-bottom-color: var(--color-contact);
  }
}
