@import "../../lib/styles/variables/breakpoints.css";

.root {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  @media (--small) {
    flex-flow: row nowrap;
  }
}

.dark .brand {
  fill: var(--color-tan);
}

.brand {
  display: block;
  font-size: 1.2em;
  height: calc(1em * 2);
  width: calc(1.65054em * 2);
  fill: var(--color-black);

  @media (--small) {
    height: 1em;
    width: 1.65054em;
  }
}

.title {
  text-transform: uppercase;
  margin-top: 0.25em;
  font-size: 1.2em;

  @media (--small) {
    margin-top: 0;
    margin-left: 0.5em;
    font-size: 1em;
  }
}

.title > span:nth-child(1) {
  font-weight: 500;
}

.title > span:nth-child(2) {
  font-weight: 900;
}
