@import "../../lib/styles/variables/*.css";

.root {
  border-top: var(--section-border) solid var(--color-tan-dark);
  align-items: center;

  p {
    max-width: 16em;
  }
}

.form {
  margin-top: 2em !important;
}
