.root {
  border-top: var(--section-border) solid var(--color-tan-dark);
  padding-bottom: calc(var(--padding-responsive) * 2) !important;
  align-items: center;

  p {
    max-width: 16em;
  }
}

.form {
  margin-top: 2em !important;
  margin-bottom: 2em !important;
}
