@import "../../styles/variables/breakpoints.css";

.root {
  font-size: 0.75em;
  padding-bottom: calc(var(--padding) * 2);
  color: var(--color-beige-dark);

  svg {
    fill: var(--color-beige-dark);
  }

  a {
    &:hover,
    &:focus {
      svg {
        fill: var(--color-black);
      }
    }
  }
}

.wrapper {
  text-align: center;
}

.dark {
  color: var(--color-tan);

  svg {
    fill: var(--color-tan);
  }

  a {
    &:hover,
    &:focus {
      svg {
        fill: var(--color-teal);
      }
    }
  }
}

.social {
  & > * {
    display: inline-block;
    vertical-align: middle;
    padding: 0.25em;
  }

  & > * + * {
    margin-left: 0.25em;
  }

  svg {
    display: block;
    width: 1em;
    height: 1em
  }
}

.socialName {
  position: relative;
  top: -0.1em;
}

.copy {
  text-transform: uppercase;
  position: relative;
  top: 0.05em;
  font-size: 0.8em;
  font-weight: 700;

  @media (--medium) {
    font-size: 0.6em;
  }
}
