@import "../../styles/variables/breakpoints.css";

.root {
  font-size: 0.75em;
  padding-top: calc(var(--padding) * 2);
  padding-bottom: calc(var(--padding) * 2);
  border-top: var(--section-border) solid var(--color-tan-dark);
  color: var(--color-beige-dark);

  svg {
    fill: var(--color-beige-dark);
  }

  a {
    color: var(--color-beige-dark);

    &:hover,
    &:focus {
      color: var(--color-black);

      svg {
        fill: var(--color-black);
      }
    }
  }
}

.wrapper {
  text-align: center;
}

.dark {
  color: var(--color-tan);
  border-top: var(--section-border) solid var(--color-dark);

  svg {
    fill: var(--color-tan);
  }

  a {
    color: var(--color-tan);

    &:hover,
    &:focus {
      color: var(--color-teal);

      svg {
        fill: var(--color-teal);
      }
    }
  }
}

.error {
  border-top: none;

  a {
    &:hover,
    &:focus {
      color: var(--color-beige);

    }
  }
}

.notes {
  font-size: 0.9em;
  line-height: 1.4em;
  margin-bottom: 0.4em;

  @media (--small) {
    font-size: 0.8em;
    margin-bottom: 0.5em;
  }

  @media (--medium) {
    font-size: 0.7em;
    margin-bottom: 0.6em;
  }
}

.social {
  & > * {
    display: inline-block;
    vertical-align: middle;
    padding: 0.25em;
  }

  & > * + * {
    margin-left: 0.25em;
  }

  svg {
    display: block;
    width: 1em;
    height: 1em
  }
}

.socialName {
  position: relative;
  top: -0.1em;
}

.copy {
  text-transform: uppercase;
  position: relative;
  top: 0.05em;
  font-size: 0.8em;
  font-weight: 700;

  @media (--medium) {
    font-size: 0.6em;
  }
}
